PORT=3010
NODE_ENV=development

DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=nestuser
DB_PASSWORD=
DB_DATABASE=crud_nest

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=crud_nest
MYSQL_USER=nestuser
MYSQL_PASSWORD=

secret=

CORS_ORIGIN=https://www.krisscode.fr
